# Problem 14

Longest Collatz sequence

The following iterative sequence is defined for the set of positive integers:

n → n/2 (n is even)
n → 3n + 1 (n is odd)

Using the rule above and starting with 13, we generate the following sequence:

13 → 40 → 20 → 10 → 5 → 16 → 8 → 4 → 2 → 1
It can be seen that this sequence (starting at 13 and finishing at 1) contains 10 terms. Although it has not been proved yet (Collatz Problem), it is thought that all starting numbers finish at 1.

Which starting number, under one million, produces the longest chain?

NOTE: Once the chain starts the terms are allowed to go above one million.

In [34]:
col = {'2':2, '4':3, '8':4, '16':5}

In [35]:
def calcula_col(x,col):
    cont = 1
    aux = x
    
    while aux != 1:
    
        if (aux%2 == 0):
            aux = aux/2
        else:
            aux = 3*aux +1
    
        cont += 1
    
    cont_2 = cont
    
    while str(int(x)) not in col:
        col[str(int(x))] = cont_2
        
        if (x%2 == 0):
            x = x/2
        else:
            x = 3*x +1
            
        cont_2 -= 1
    
    
    return cont, col

In [42]:
#teste
n = 20

for i in range(2,n):
    calcula_col(i, col)
    
print(col)
max(col.items(), key=lambda k: k[1])

{'35': 14, '3': 8, '58': 20, '160': 11, '29': 19, '7': 17, '23': 16, '20': 8, '44': 17, '22': 16, '10': 7, '8': 4, '17': 13, '26': 11, '12': 10, '88': 18, '106': 13, '19': 21, '13': 10, '6': 9, '46': 17, '16': 5, '2': 2, '11': 15, '40': 9, '15': 18, '53': 12, '14': 18, '80': 10, '70': 15, '5': 6, '18': 21, '4': 3, '52': 12, '28': 19, '9': 20, '34': 14}

('19', 21)

In [43]:
n = 1000000

for i in range(2,n):
    calcula_col(i, col)
    
max(col.items(), key=lambda k: k[1])

('837799', 525)

## Problem 15

Lattice paths

Starting in the top left corner of a 2×2 grid, and only being able to move to the right and down, there are exactly 6 routes to the bottom right corner
How many such routes are there through a 20×20 grid?

In a 2x2 grid there is 4 movements to be done, 2 rights and 2 downs. The total is a C(4,2) = 6

So in a 20 x grid, there is 40 movements to be done: 20 rights and 20 downs. It's C(40,20)

In [47]:
from scipy.misc import comb

comb(40,20)

137846528820.00006


## Problem 16

Power digit sum

215 = 32768 and the sum of its digits is 3 + 2 + 7 + 6 + 8 = 26.

What is the sum of the digits of the number 21000?

In [55]:
X = 2**1000
print(X)
len(str(X))

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

302

In [56]:
tamanho = len(str(X))
X_str = str(X)

soma = 0

for i in range(tamanho):
    soma = soma +  int(X_str[i])
    
print(soma)

1366

## Problem 17

Number letter counts

If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.

If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, how many letters would be used?


NOTE: Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.

In [125]:
list1 = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
list2 = ['ten','eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen']
list3 = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety']
list4 = ['hundred', 'hundred and', 'one thousand']

In [126]:
list1_total = []
for i in range(9):
    list1_total.append(len(list1[i]))
    
list2_total = []
for i in range(10):
    list2_total.append(len(list2[i]))
    
list3_total = []
for i in range(8):
    list3_total.append(len(list3[i]))
    
list4_total = [7,10,11]

In [127]:
total1 = sum(list1_total)
total2 = sum(list2_total)
total3 = sum(list3_total)

total_one_to_ninety = total1*9 + total2 + total3*10
print(total1, total2, total3)
print(total_one_to_ninety)

36 70 46
854

In [128]:
total_100_to_199 = (3 + list4_total[0]) + (3 + list4_total[1])*99 + total_one_to_ninety

print(total_100_to_199)

total_100_to_999 = (total1 + 9*list4_total[0]) + (total1 + 9*list4_total[1])*99 + 9*total_one_to_ninety
print(total_100_to_999)

2151
20259

In [129]:
Total = total_one_to_ninety + total_100_to_999 + list4_total[2]
print(Total)

21124